<a href="https://colab.research.google.com/github/Shubhijain27/Advance-Data-Structures/blob/main/advance_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Write a code to reverse a string

 Write a code to count the number of vowels in a string


 Write a code to check if a given string is a palindrome or not

 Write a code to check if two given strings are anagrams of each other

 Write a code to find all occurrences of a given substring within another string


 Write a code to perform basic string compression using the counts of repeated characters

& Write a code to determine if a string has all unique characters

 Write a code to convert a given string to uppercase or lowercase

 Write a code to count the number of words in a string

 Write a code to concatenate two strings without using the + operator



---



---

In [3]:
#1
s = "HELLO"
reversed_s = s[::-1]
print(reversed_s)
print(s[::-1])

OLLEH
OLLEH

In [5]:
x = "good morning"
vowels = "aeiouAEIOU"
count = sum(x.count(vowel) for vowel in vowels)
print(count)

4

In [6]:
s = "hello world"
vowels = "aeiouAEIOU"
count = 0
for char in s:
    if char in vowels:
        count += 1
print(count)

3

In [9]:
s = "madam"
is_palindrome = s == s[::-1]
print(is_palindrome)

True

In [14]:
s = "silent"
a = "listen"
is_anagram = sorted(s) == sorted(a)
print(is_anagram)

True

In [20]:
s  = "test test test test"
sub = "test"

positions = []
start = 0
while True:
    pos = s.find(sub, start)
    if pos == -1:
        break
    positions.append(pos)
    start = pos + len(sub)

print(positions)

[0, 5, 10, 15]

In [21]:
text = "test test test"
sub = "test"
start = 0
while True:
    index = text.find(sub, start)
    if index == -1:
        break
    print(index)
    start = index + 1

0
5
10

In [23]:
s = "aabcccccaaa"
compressed = ""
count = 1
for i in range(1, len(s)):
    if s[i] == s[i - 1]:
        count += 1
    else:
        compressed += s[i - 1] + str(count)
        count = 1
compressed += s[-1] + str(count)
print(compressed)

a2b1c5a3

In [29]:
s = "abcdef"
a = set(s)
_isunique = len(a) == len(s)
print(_isunique)

True

In [33]:
s = "shubhi"
a = "ashu"
upper_s = s.upper()
lower_a = a.lower()
print(upper_s)
print(lower_a)

SHUBHI
ashu

In [39]:
s = "welcome to the jungle"
word_count = len(s.split())
print(word_count)

4

In [44]:
s1 = "Hello"
s2 = "World"
concatenated = "{} {}".format(s1, s2)
print(concatenated)

#2nd method
concat = f"{s1} {s2}"
print(concat)

#3rd
words = ["Hello", "World"]
result = " ".join(words)
print(result)  # Output: Hello World

Hello World
Hello World
Hello World

"" Write a code to remove all occurrences of a specific element from a list

" Implement a code to find the second largest number in a given list of integers

" Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

" Write a code to reverse a list in-place without using any built-in reverse functions

"	 Implement a code to find and remove duplicates from a list while preserving the original order of
elements

"$ Create a code to check if a given list is sorted (either in ascending or descending order) or not

"& Write a code to merge two sorted lists into a single sorted list

" Implement a code to find the intersection of two given lists

" Create a code to find the union of two lists without duplicates

 Write a code to shuffle a given list randomly without using any built-in
shuffle functions

In [49]:
lst = [1, 2, 3, 2, 4, 2, 5]
val = 2
lst = [x for x in lst if x != val]
print(lst)

[1, 3, 4, 5]

In [51]:
lst = [10, 20, 4, 45, 99]
first = second = float('-inf')
for num in lst:
    if num > first:
        second = first
        first = num
    elif first > num > second:
        second = num
print(second)

#or
my_list = [10, 20, 4, 45, 99]
my_list.sort()
print("Second largest number is:", my_list[-2])

#or
my_list = [10, 20, 4, 45, 99]
max_val = max(my_list)
my_list.remove(max_val)
second_largest = max(my_list)
print("Second largest number is:", second_largest)

45
Second largest number is: 45
Second largest number is: 45

In [54]:
lst = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
counts = {}
for item in lst:
    counts[item] = counts.get(item, 0) + 1
print(counts)

#or
from collections import Counter

my_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
counts = Counter(my_list)
print(counts)

#or

my_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
counts = {}

for item in my_list:
    if item in counts:
        counts[item] += 1
    else:
        counts[item] = 1

print(counts)

{'apple': 2, 'banana': 3, 'orange': 1}
Counter({'apple': 3, 'banana': 2, 'orange': 1})
{'apple': 3, 'banana': 2, 'orange': 1}

In [56]:

my_list = [1, 2, 3, 4, 5]
# create a reversed copy with slicing, then overwrite entire list
my_list[:] = my_list[::-1]
print(my_list)  # [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [57]:
lst = [1, 2, 2, 3, 4, 3, 5]
seen = set()
result = []
for item in lst:
    if item not in seen:
        seen.add(item)
        result.append(item)
print(result)

my_list = [3, 5, 2, 3, 2, 4, 5, 1]
# dict preserves insertion order as of Python 3.7
my_list = list(dict.fromkeys(my_list))
print(my_list)  # [3, 5, 2, 4, 1]

[1, 2, 3, 4, 5]
[3, 5, 2, 4, 1]

In [60]:
my_list = [1, 2, 3, 3, 5]

if my_list == sorted(my_list):
    print("Ascending")
elif my_list == sorted(my_list, reverse=True):
    print("Descending")
else:
    print("Not sorted")

Ascending

In [64]:
a = [1, 3, 5, 7]
b = [2, 4, 6, 8]

merged = sorted(a + b)
print(merged)  # [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
intersection = list(set(a) & set(b))
print(intersection)

[3, 4]

In [66]:
a = [1, 2, 3]
b = [3, 4, 5]
union = list(set(a + b))
print(union)

[1, 2, 3, 4, 5]

In [70]:
import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
# sample the entire list without replacement, effectively shuffling
shuffled = random.sample(my_list, k=len(my_list))

print(shuffled)
# original my_list remains unchanged


import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
shuffled = sorted(my_list, key=lambda _: random.random())

print(shuffled)

[8, 2, 6, 1, 4, 3, 5, 7]
[3, 8, 7, 1, 6, 2, 4, 5]

" Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

 Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.
PWSkills

'%& Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set&

'& Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices&

'& Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets&

'*& Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking&

'& Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets&

'& Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple&


& Develop a code that prompts the user to input two

In [71]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
common_elements = tuple(set(tuple1) & set(tuple2))
print(common_elements)

(3, 4, 5)

In [73]:
set1 = set(map(int, input("Enter first set of integers separated by commas: ").split(',')))
set2 = set(map(int, input("Enter second set of integers separated by commas: ").split(',')))
intersection = set1 & set2
print("Intersection:", intersection)

Enter first set of integers separated by commas: 1,2,3,4
Enter second set of integers separated by commas: 3,4,5,6
Intersection: {3, 4}

In [74]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated = tuple1 + tuple2
print(concatenated)

(1, 2, 3, 4, 5, 6)

In [76]:
set1 = set(input("Enter first set of strings separated by commas: ").split(','))
set2 = set(input("Enter second set of strings separated by commas: ").split(','))
difference = set1 - set2
print("Elements in the first set but not in the second:", difference)

Enter first set of strings separated by commas: apple,kiwi,cherry
Enter second set of strings separated by commas: apple,banana
Elements in the first set but not in the second: {'cherry', 'kiwi'}

In [77]:
tuple1 = (10, 20, 30, 40, 50, 60)
start_index = 2
end_index = 5
sliced_tuple = tuple1[start_index:end_index]
print(sliced_tuple)

(30, 40, 50)

In [78]:
set1 = set(input("Enter first set of characters (no separators): "))
set2 = set(input("Enter second set of characters (no separators): "))
union = set1 | set2
print("Union of the two sets:", union)

Enter first set of characters (no separators): abc
Enter second set of characters (no separators): cde
Union of the two sets: {'a', 'd', 'c', 'b', 'e'}

In [79]:
tuple1 = (5, 10, 3, 8, 2)
max_value = max(tuple1)
min_value = min(tuple1)
print("Maximum:", max_value)
print("Minimum:", min_value)

Maximum: 10
Minimum: 2

In [80]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (set1 - set2):", set1 - set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}

In [81]:
tuple1 = (1, 2, 3, 2, 4, 2, 5)
element = 2
count = tuple1.count(element)
print(f"The element {element} occurs {count} times.")

The element 2 occurs 3 times.