<a href="https://colab.research.google.com/github/Shubhijain27/Advance-Data-Structures/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PRACTICAL QUESTIONS

quest 1  

Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
def sum_even_numbers(numbers):
  even_sum = 0
  for num in numbers :
    if num % 2 == 0 :
      even_sum += num
  return even_sum

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9,]
result = sum_even_numbers(numbers)
print(result)

20

In [ ]:
sum_even_numbers([1,2,3,4,5])

6

In [ ]:
def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
result = sum_even_numbers(numbers)
print(result)

12

 ques 2

 Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(a):
  return a[::-1]

In [ ]:
a = "hello"
result = reverse_string(a)
print(result)

olleh

In [ ]:
reverse_string("banana")

'ananab'

ques 3

 Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def square_numbers(numbers):
  square_numbers = [num ** 2 for num in numbers]
  return square_numbers

In [ ]:
square_numbers([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [ ]:
def square_numbers(numbers):
  sqaure_numbers = []
  for num in numbers :
    sqaure_numbers.append(num ** 2)
  return sqaure_numbers

In [ ]:
square_numbers([1,2,7,4,8])

[1, 4, 49, 16, 64]

ques 4

 Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(number):
  if number < 2:
    return False
  for i in range(2, int(number + 1)):
    if number % i == 0:
      return False
  return True

In [ ]:
for num in range(1, 201):
    if is_prime(num):
        print(f"{num} is a prime number")
    else:
        print(f"{num} is not a prime number")

1 is not a prime number
2 is not a prime number
3 is not a prime number
4 is not a prime number
5 is not a prime number
6 is not a prime number
7 is not a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is not a prime number
12 is not a prime number
13 is not a prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is not a prime number
18 is not a prime number
19 is not a prime number
20 is not a prime number
21 is not a prime number
22 is not a prime number
23 is not a prime number
24 is not a prime number
25 is not a prime number
26 is not a prime number
27 is not a prime number
28 is not a prime number
29 is not a prime number
30 is not a prime number
31 is not a prime number
32 is not a prime number
33 is not a prime number
34 is not a prime number
35 is not a prime number
36 is not a prime number
37 is not a prime number
38 is not a prime number
39 is not a prime number
40 is not a prime number
41 is not a prime number
42 is not a prime number
43 is not a prime number
44 is not a prime number
45 is not a prime number
46 is not a prime number
47 is not a prime number
48 is not a prime number
49 is not a prime number
50 is not a prime number
51 is not a prime number
52 is not a prime number
53 is not a prime number
54 is not a prime number
55 is not a prime number
56 is not a prime number
57 is not a prime number
58 is not a prime number
59 is not a prime number
60 is not a prime number
61 is not a prime number
62 is not a prime number
63 is not a prime number
64 is not a prime number
65 is not a prime number
66 is not a prime number
67 is not a prime number
68 is not a prime number
69 is not a prime number
70 is not a prime number
71 is not a prime number
72 is not a prime number
73 is not a prime number
74 is not a prime number
75 is not a prime number
76 is not a prime number
77 is not a prime number
78 is not a prime number
79 is not a prime number
80 is not a prime number
81 is not a prime number
82 is not a prime number
83 is not a prime number
84 is not a prime number
85 is not a prime number
86 is not a prime number
87 is not a prime number
88 is not a prime number
89 is not a prime number
90 is not a prime number
91 is not a prime number
92 is not a prime number
93 is not a prime number
94 is not a prime number
95 is not a prime number
96 is not a prime number
97 is not a prime number
98 is not a prime number
99 is not a prime number
100 is not a prime number
101 is not a prime number
102 is not a prime number
103 is not a prime number
104 is not a prime number
105 is not a prime number
106 is not a prime number
107 is not a prime number
108 is not a prime number
109 is not a prime number
110 is not a prime number
111 is not a prime number
112 is not a prime number
113 is not a prime number
114 is not a prime number
115 is not a prime number
116 is not a prime number
117 is not a prime number
118 is not a prime number
119 is not a prime number
120 is not a prime number
121 is not a prime number
122 is not a prime number
123 is not a prime number
124 is not a prime number
125 is not a prime number
126 is not a prime number
127 is not a prime number
128 is not a prime number
129 is not a prime number
130 is not a prime number
131 is not a prime number
132 is not a prime number
133 is not a prime number
134 is not a prime number
135 is not a prime number
136 is not a prime number
137 is not a prime number
138 is not a prime number
139 is not a prime number
140 is not a prime number
141 is not a prime number
142 is not a prime number
143 is not a prime number
144 is not a prime number
145 is not a prime number
146 is not a prime number
147 is not a prime number
148 is not a prime number
149 is not a prime number
150 is not a prime number
151 is not a prime number
152 is not a prime number
153 is not a prime number
154 is not a prime number
155 is not a prime number
156 is not a prime number
157 is not a prime number
158 is not a prime number
159 is not a prime number
160 is not a prime number
161 is not a prime number
162 is not a prime number
163 is not a prime number
164 is not a prime number
165 is not a prime number
166 is not a prime number
167 is not a prime number
168 is not a prime number
169 is not a prime number
170 is not a prime number
171 is not a prime number
172 is not a prime number
173 is not a prime number
174 is not a prime number
175 is not a prime number
176 is not a prime number
177 is not a prime number
178 is not a prime number
179 is not a prime number
180 is not a prime number
181 is not a prime number
182 is not a prime number
183 is not a prime number
184 is not a prime number
185 is not a prime number
186 is not a prime number
187 is not a prime number
188 is not a prime number
189 is not a prime number
190 is not a prime number
191 is not a prime number
192 is not a prime number
193 is not a prime number
194 is not a prime number
195 is not a prime number
196 is not a prime number
197 is not a prime number
198 is not a prime number
199 is not a prime number
200 is not a prime number

ques 5

Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
>>> def fibonacci_of(n):
...     if n in {0, 1}:  # Base case
...         return n
...     return fibonacci_of(n - 1) + fibonacci_of(n - 2)  # Recursive case
...

>>> [fibonacci_of(n) for n in range(15)]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

 quest 6

 Write a generator function in Python that yields the powers of 2 up to a given exponent

In [ ]:
def powers_of_two(exponent):
    base = 2
    result = 1
    for i in range(exponent + 1):
        yield result
        result *= base

In [ ]:
for power in powers_of_two(5):
    print(power)

1
2
4
8
16
32

ques 7

 Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
# Python code to
# demonstrate readlines()

L = ["Geeks\n", "for\n", "Geeks\n"]

# writing to file
file1 = open('myfile.txt', 'w')
file1.writelines(L)
file1.close()

# Using readlines()
file1 = open('myfile.txt', 'r')
Lines = file1.readlines()

count = 0
# Strips the newline character
for line in Lines:
    count += 1
    print("Line{}: {}".format(count, line.strip()))

Line1: Geeks
Line2: for
Line3: Geeks

ques 8

 Use a lambda function in Python to sort a list of tuples based on the second element of each tuple

In [ ]:
# Define the list of tuples
tuples = [('a', 3), ('b', 1), ('c', 2), ('d', 4)]

# Sort the list using a lambda function
sorted_tuples = sorted(tuples, key=lambda x: x[1])

print(sorted_tuples)

[('b', 1), ('c', 2), ('a', 3), ('d', 4)]

In [ ]:
tuples = [('shubhi'), ('ashu'), ('sejal'), ('nimit')]

# Sort the list using a lambda function
sorted_tuples = sorted(tuples, key=lambda x: x[1])

print(sorted_tuples)

['sejal', 'shubhi', 'nimit', 'ashu']

 ques 9

 Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit

In [ ]:
celsius_temps = [20, 30, 40, 50]

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

fahrenheit_temps = list(map(celsius_to_fahrenheit, celsius_temps))

print(fahrenheit_temps)  # [68.0, 86.0, 104.0, 122.0]

[68.0, 86.0, 104.0, 122.0]

ques 10

 Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:
def remove_vowels(s):
    vowels = 'aeiouAEIOU'
    return ' '.join(filter(lambda c: c not in vowels, s))


input_string = "Hello, World!"
output_string = remove_vowels(input_string)
print(output_string)

H l l ,   W r l d !

QUES 11
 Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:







Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [ ]:
orders = [
    [34587, 'Learning Python, Mark Lutz', 4, 40.95],
    [98762, 'Programming Python, Mark Lutz', 5, 56.80],
    [77226, 'Head First Python, Paul Barry', 3, 32.95],
    [88112, 'Einführung in Python3, Bernd Klein', 3, 24.99]
]

result = list(map(lambda x: (x[0], x[2] * x[3] if x[2] * x[3] >= 10000 else x[2] * x[3] + 10), orders))

print(result)

[(34587, 173.8), (98762, 294.0), (77226, 108.85000000000001), (88112, 84.97)]

THEORETICAL QUESTIONS

QUES 1
 What is the difference between a function and a method in Python?

In Python, both functions and methods are blocks of code that perform a specific task. However, there are key differences between the two:

Functions

Independent: Functions are standalone, independent entities that can be called without referencing an object or class.
No implicit object: Functions do not have an implicit self or cls parameter, which means they don’t have access to an object’s or class’s attributes or methods.
Called by name: Functions are called by their name, without referencing an object or class.
Scope: Functions have their own scope, which means variables defined within a function are local to that function.



Methods

Associated with objects/classes: Methods are associated with a specific object or class, and are called on that object or class.
Implicit self or cls: Methods have an implicit self parameter (for instance methods) or cls parameter (for class methods), which refers to the object or class on which the method is called.
Called on an object: Methods are called on an object or class, using dot notation (e.g., obj.method()).
Access to object/class attributes: Methods have access to the object’s or class’s attributes and methods, allowing them to manipulate or extend the object’s behavior.

method example

In [ ]:
# Python 3 User-Defined Method
class ABC :
	def method_abc (self):
		print("I am in method_abc of ABC class. ")

class_ref = ABC() # object of ABC class
class_ref.method_abc()

I am in method_abc of ABC class.

In [ ]:
import math

ceil_val = math.ceil(15.25)
print( "Ceiling value of 15.25 is : ", ceil_val)

Ceiling value of 15.25 is :  16

In [ ]:
#in this example, greet is a method associated with the Greeter class. It’s called using an instance of the class (greeter), and it has access to the name attribute of the instance.

class Greeter:
    def __init__(self, name):
        self.name = name

    def greet(self):
        return f"Hello, {self.name}!"

greeter = Greeter("Bob")
print(greeter.greet())

Hello, Bob!

function example

In [ ]:
def Subtract (a, b):
	return (a-b)

print( Subtract(10, 12) ) # prints -2

print( Subtract(15, 6) ) # prints 9

-2
9

In [ ]:
s = sum([5, 15, 2])
print( s ) # prints 22

mx = max(15, 6)
print( mx ) # prints 15

22
15

In [ ]:
#In this example, greet is a standalone function that takes a name argument and returns a greeting message. It can be called directly by its name.
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

Methods can override built-in operators (e.g., __str__, __add__) to provide custom behavior when working with objects.
Methods can also be used to implement object-oriented programming (OOP) concepts like encapsulation, inheritance, and polymorphism.
Functions, on the other hand, are more general-purpose and don’t have direct ties to specific objects or classes.
In summary, while both functions and methods are blocks of code, methods are closely tied to classes and objects, providing a way to manipulate and interact with their data, whereas functions are standalone and don’t have direct access to external data.

QUES 2

 Explain the concept of function arguments and parameters in Python.

In Python, function arguments and parameters are related but distinct concepts.

Function Parameters: When defining a function, you specify parameters inside the function definition, enclosed in parentheses (). These parameters are placeholders for values that will be passed to the function when it’s called. Parameters are part of the function’s signature and are defined at the time of function creation.

In [ ]:
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

In [ ]:
greet("John", 30)  # John and 30 are function arguments

Hello, John! You are 30 years old.

"John" and 30 are function arguments, which are assigned to the name and age parameters, respectively.

in this example, name and age are function parameters.

Function Arguments: When calling a function, you pass arguments to the function, which are assigned to the corresponding parameters. Arguments are the actual values provided when invoking the function.

Key differences:

Definition: Parameters are defined at function creation time, while arguments are provided at function call time.
Scope: Parameters are part of the function’s signature and are accessible within the function’s body. Arguments are the actual values passed to the function and are only accessible within the function’s body.
Type: Parameters are declared with a specific data type (e.g., int, str), while arguments can be of any type that matches the parameter’s type.
Python supports several types of function arguments:

Positional Arguments: Arguments passed in the order they are defined in the function signature.
Keyword Arguments: Arguments passed with a keyword (name) that matches a parameter name, allowing for flexibility in the order of argument passing.
Arbitrary Arguments (using *args): A variable number of arguments, collected as a tuple.
Arbitrary Keyword Arguments (using **kwargs): A variable number of keyword arguments, collected as a dictionary.

In [ ]:
# Here a,b are the parameters   >> A parameter is the variable defined within the parentheses during function definition. Simply they are written when we declare a function.
def sum(a,b):
  print(a+b)

sum(1,2)

3

In [ ]:
def sum(a,b):  #An argument is a value that is passed to a function when it is called. It might be a variable, value or object passed to a function or method as input. They are written when we are calling the function.
  print(a+b)

# Here the values 1,2 are arguments
sum(1,2)

positional argument

In [ ]:
def person_name(first_name,second_name):
  print(first_name+second_name)

# First name is Ram placed first
# Second name is Babu place second
person_name("Ram","Babu")

RamBabu

keyword argument

In [ ]:
def person_name(first_name,second_name):
  print(first_name+second_name)

# Here we are explicitly assigning the values
person_name(second_name="Babu",first_name="Ram")

RamBabu

QUES 3

What are the different ways to define and call a function in Python?

Defining Functions

1 - Basic Syntax: Use the def keyword followed by the function name and parentheses (). The function body is indented under the def statement.
Example: def greet(name): print(f"Hello, {name}!")

2 - Lambda Functions: Use the lambda keyword to define anonymous functions. Lambda functions can take any number of arguments, but can only have one expression.
Example: double = lambda x: x * 2

Calling Functions

1 - Function Call: Simply use the function name followed by parentheses () and any required arguments.
Example: greet("John")

2 - Passing Arguments: Pass values to the function by separating them with commas within the parentheses.
Example: double(5) or double(5, 10)

3 - Default Arguments: Provide default values for arguments, which can be used if no value is passed.
Example: def greet(name = "World"): print(f"Hello, {name}!")

4 - Variable Number of Arguments: Use the *args syntax to accept a variable number of arguments.
Example: def sum_numbers(*numbers): return sum(numbers)

5 - Keyword Arguments: Use the **kwargs syntax to accept keyword arguments.
Example: def person(name, age, **extra): print(f"{name} is {age} years old. Extra details: {extra}")

6 - Nested Functions: Define functions within other functions.
Example: def outer(): def inner(): print("Inner function called"); inner()

7 - Anonymous Functions: Use lambda functions as arguments to higher-order functions (functions that take functions as arguments).
Example: map(lambda x: x * 2, [1, 2, 3])

In [ ]:
#In Python a function is defined using the def keyword:


def my_function():
  print("Hello from a function")

In [ ]:
#To call a function, use the function name followed by parenthesis:


def my_function():
  print("Hello from a function")

my_function()

Hello from a function

Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [ ]:
#This function expects 2 arguments, but gets only 1:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

Arbitrary Arguments, *args


If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:



def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:


def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
#Default Parameter Value
#The following example shows how to use a default parameter value.

#If we call the function without argument, it uses the default value:


def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Passing a List as an Argument


You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [ ]:

def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
#Return Values
#To let a function return a value, use the return statement:

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
#The pass Statement
#function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

def myfunction():

  pass

In [ ]:
# having an empty function definition like this, would raise an error without the pass statement

In [ ]:
#Positional-Only Arguments
#You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

#To specify that a function can have only positional arguments, add , / after the arguments:

def my_function(x, /):
  print(x)

my_function(3)

3

In [ ]:
def my_function(x):  #Without the , / you are actually allowed to use keyword arguments even if the function expects positional arguments:
  print(x)

my_function(x = 3)

3

In [ ]:
#Keyword-Only Arguments
#To specify that a function can have only keyword arguments, add *, before the arguments:


def my_function(*, x):
  print(x)

my_function(x = 3)

3

QUES 4

What is the purpose of the `return` statement in a Python function?

In Python, the return statement is used to terminate the execution of a function and send a value back to the caller. It allows a function to produce a result or value that can be used by the calling code.

Here are the key purposes of the return statement:

Exit the function: The return statement causes the function to stop executing and return control to the caller.
Send a value back: The value specified after the return keyword is sent back to the caller, which can be assigned to a variable or used in an expression.
Optional: If no value is specified after the return keyword, the function returns None by default.
In summary, the return statement is used to:

Exit a function
Send a value back to the caller
Optionally return None if no value is specified

In [ ]:
def add(x, y):
    return x + y

result = add(2, 3)
print(result)

5

In this example, the add function takes two arguments x and y, performs the addition, and returns the result using the return statement. The caller assigns the returned value to the result variable and prints it.

Note that you can have multiple return statements in a function, and the function will exit as soon as the first return statement is executed. Any code after that return statement will be skipped.

Follow up

In [ ]:
# Python program to
# demonstrate return statement

def add(a, b):

    # returning sum of a and b
    return a + b

def is_true(a):

    # returning boolean of a
    return bool(a)

# calling function
res = add(2, 3)
print("Result of add function is {}".format(res))

res = is_true(2<5)
print("\nResult of is_true function is {}".format(res))

Result of add function is 5

Result of is_true function is True

QUES 5

 What are iterators in Python and how do they differ from iterables?

Iterables in Python are objects that can be iterated over, meaning they can be looped through using a for loop or similar constructs. Examples of iterables include lists, tuples, dictionaries, sets, strings, and user-defined objects that implement the iterable protocol (i.e., have an __iter__() method). Iterables can be thought of as “containers” that hold a sequence of values.

Iterators, on the other hand, are objects that implement the iterator protocol, which consists of two special methods:

__iter__(): returns the iterator object itself (usually self).
__next__(): returns the next value from the iterable, or raises a StopIteration exception when there are no more values.
In other words, an iterator is an object that knows how to traverse an iterable and yield its elements one by one. When you create an iterator from an iterable, you’re essentially creating a “cursor” that points to the current position in the iterable.

Key differences between iterables and iterators:

Direction of iteration: Iterables are passive containers, while iterators are active agents that control the iteration process.
State: Iterators maintain internal state (e.g., a pointer to the current position) to keep track of where they are in the iteration. Iterables do not have state.
Control: Iterators determine when to yield the next value and when to stop iterating (by raising StopIteration). Iterables do not have control over the iteration process.

In [ ]:
my_list = [1, 2, 3]
for elem in my_list:
    print(elem)  # prints 1, 2, 3

1
2
3

In [ ]:
it = iter(my_list)  # creates an iterator object
while True:
    try:
        elem = next(it)  # yields the next value
        print(elem)  # prints 1, 2, 3, ...
    except StopIteration:
        break  # iteration complete

1
2
3

Iterator vs Iterable
Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
#Even strings are iterable objects, and can return an iterator:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [ ]:
mytuple = ("apple", "banana", "cherry")  #Looping Through an Iterator >> We can also use a for loop to iterate through an iterable object:

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

QUES 6

Explain the concept of generators in Python and how they are defined.

A generator function in Python is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return. If the body of a def contains yield, the function automatically becomes a Python generator function.

In Python, we can create a generator function by simply using the def keyword and the yield keyword. The generator has the following syntax in Python:


def function_name():
   
       
       yield statement

In Python, a generator is a special type of function that can be used to generate a sequence of values on-the-fly, without storing them all in memory at once. This is achieved through the use of the yield statement, which allows the function to produce a value and suspend its execution, preserving its state.

A generator function is defined just like a regular function, but it contains one or more yield statements. When a generator function is called, it returns a generator object, which is an iterator. The iterator can be used to retrieve the values produced by the generator function, one at a time, using the next() function or a for loop.

In this example, my_generator is a generator function that takes an integer n as input. It uses a for loop to iterate from 0 to n-1, and yields the doubled value of each iteration using yield. When called, this function returns a generator object, which can be used to retrieve the values:

In [ ]:
def my_generator(n):
    for i in range(n):
        yield i * 2

Note that once all values have been yielded, calling next() again will raise a StopIteration exception, indicating that the generator has exhausted its values.

Generator expressions, introduced in Python 2.2, provide a concise way to define simple generators. They have the same syntax as list comprehensions, but instead of creating a list, they create a generator object

In [ ]:
g = my_generator(5)
print(next(g))  # 0
print(next(g))  # 2
print(next(g))  # 4
print(next(g))  # 6
print(next(g))  # 8

0
2
4
6
8

In [ ]:
g = (x**2 for x in range(5))
print(next(g))  # 0
print(next(g))  # 1
print(next(g))  # 4
print(next(g))  # 9
print(next(g))  # 16

0
1
4
9
16

In summary, generators in Python are defined as functions that use the yield statement to produce values on-the-fly, returning a generator object that can be used to iterate over those values. This allows for efficient handling of large datasets and infinite sequences, as well as improved memory usage.

QUES 7

What are the advantages of using generators over regular functions?

Based on the provided search results, the advantages of using generators over regular functions are:

Memory Efficiency: Generators yield values one by one, without storing all the values in memory at once. This is particularly useful when working with large data sets, as it avoids consuming excessive memory resources.
Readability: Generators allow for a more natural and straightforward expression of the number generation logic, making the code more readable and easier to understand.
Speed: Generators provide a performance improvement due to lazy (on-demand) generation of values, resulting in lower memory usage and faster execution.
Flexibility: Generators can be used with various iteration methods, such as for loops, list comprehensions, or the next function, offering flexibility in how the generated values are consumed.

In [ ]:
def first_million_numbers():
    n = 1
    while n <= 1000000:
        yield n
        n += 1

numbers = first_million_numbers()
print(sum(numbers))

500000500000

In [ ]:
def get_odds_generator(max):
    n = 1
    while n <= max:
        yield n
        n += 2

numbers = get_odds_generator(10)
for i in numbers:
    print(i)

1
3
5
7
9

In [ ]:
def generate_numbers():
    n = 0
    while True:
        yield n
        n += 1

numbers = generate_numbers()
# Use numbers generator here

QUES 8

What is a lambda function in Python and when is it typically used?

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax
lambda arguments : expression

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

The power of lambda is better shown when you use them as an anonymous function inside another function.
It is a shorthand way to create a function without declaring a named function using the def keyword. Lambda functions are often used when a simple, one-time-use function is needed.

When is it typically used?

Lambda functions are typically used in the following situations:

As an argument to a higher-order function: Lambda functions are often used as arguments to functions like map(), filter(), reduce(), and sorted(), which expect a function as an input. This allows you to perform a specific operation on each element of an iterable without defining a separate named function.
For simple, one-time-use functions: When you need a function that performs a single, trivial operation, a lambda function can be a concise and efficient way to define it.
In data processing and manipulation: Lambda functions are useful when working with data structures like lists, dictionaries, or dataframes, and you need to perform a specific transformation or filtering operation.
In event handling and callbacks: Lambda functions can be used as event handlers or callbacks, where a small, one-time-use function is needed to respond to an event.

Extracting a specific attribute from a list of objects: map(lambda x: x.name, objects)

Filtering a list based on a condition: filter(lambda x: x > 5, numbers)

Sorting a list based on a specific key: sorted(data, key=lambda x: x['age'])

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):
  return lambda a : a * n

In [ ]:
#Use that function definition to make a function that always doubles the number you send in:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [ ]:
#Or, use the same function definition to make a function that always triples the number you send in:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

QUES 9

 Explain the purpose and usage of the `map()` function in Python.

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

Syntax : map(fun, iter)

Parameters:

fun: It is a function to which map passes each element of given iterable.

iter: It is iterable which is to be mapped.

In [ ]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
    return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
# Double all numbers using map and lambda

numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [ ]:
# List of strings ,  Modify the String using map()
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [ ]:
strings = ['hello', 'world', 'python']   #Converting a list of strings to uppercase:
upper_strings = map(str.upper, strings)
print(list(upper_strings))

['HELLO', 'WORLD', 'PYTHON']

Where:

function is a callable (e.g., a lambda function, a built-in function, or a user-defined function) that takes an argument and returns a transformed value.
iterable is the original iterable (e.g., a list, tuple, or string) that you want to process.
[iterable2, ...] are optional additional iterables that can be passed as arguments to the function. The map() function will apply the function to each corresponding element from each iterable.

In summary, map() is a versatile and efficient function for applying transformations to iterables in Python. Its lazy evaluation and handling of varying iterable lengths make it a useful tool for data processing and manipulation.

QUES 10

Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given
list:[47,11,42,13];

![WhatsApp Image 2024-09-23 at 10.28.38_1e94bbbd.jpg]()