<a href="https://colab.research.google.com/github/Shubhijain27/Advance-Data-Structures/blob/main/DATA_STRUCTURES_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA STRUCTURES

Ques 1 - Discuss String Slicing And Provide Examples .

---




Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end.

string[start:stop:step]

start: The starting index of the slice (inclusive).

stop: The ending index of the slice (exclusive).

step: The step size or stride between indices.

In [ ]:
text = "Hello, World!"
#substring

print(text[0:6])

print(text[7:13])

print(text[:])

print(text[7:])

print(text[:9])

print(text[::2])

text[-6:-1]
text[-5:]
text[::2]

Hello,
World!
Hello, World!
World!
Hello, Wo
Hlo ol!

'Hlo ol!'

In [ ]:
s = "physicswallah"

In [ ]:
s[0:7]

'physics'

In [ ]:
s[::2]

'pyisalh'

In [ ]:
s[::-1] #reverse the string

'hallawscisyhp'

In [ ]:
s[::1]

'physicswallah'

In [ ]:
s[:-6:-1]

'halla'

In [ ]:
s[0:6:2]

'pyi'

In [ ]:
String = "hello" #YOU CAN WRITE IN THIS WAY TOO
s1=  slice(2)
s2= slice(0,6)
s3= slice(0,6,2)
print("String slicing")
print(String[s1])
print(String[s2])
print(String[s3])

String slicing
he
hello
hlo

 Explain The key Features OF Lists In Python .

---

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.Python lists offer several key features that make them a versatile and widely used data structure :

Ordered: Lists maintain the order in which elements were inserted, allowing you to access elements by their index.


Mutable: Lists can be modified after creation by adding, removing, or changing elements. This makes them suitable for dynamic data handling.

Heterogeneous: Lists can store items of different data types, such as strings, integers, floats, and other lists.

Indexed: Lists are indexed, meaning you can access elements using their position in the list (e.g., my_list[0]).

Slicing: Lists support slicing, allowing you to extract a subset of elements from the list (e.g., my_list[1:3]).

Methods: Lists have several built-in methods for common operations, such as:

append() to add an element to the end of the list

insert() to insert an element at a specific position

remove() to remove the first occurrence of an element

sort() to sort the list in ascending or descending order

reverse() to reverse the order of the list

index() to find the index of a specific element

extend() to add multiple elements to the end of the list

Nesting: Lists can be nested within other lists, creating a hierarchical data structure.

In [ ]:
list = ["apple", "banana", "cherry"]
list

['apple', 'banana', 'cherry']

In [ ]:
 list = ["apple", "banana", "cherry", "apple", "cherry"] #it allows duplicate>> Since lists are indexed, lists can have items with the same value:
 list

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
list[0]

'apple'

In [ ]:
 #indexing #The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.


list[0] = "mango"
list

['mango', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
len(list) #To determine how many items a list has, use the len() function:

5

In [ ]:
list1 = ["apple", "banana", "cherry"] #data types
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
list1

['apple', 'banana', 'cherry']

In [ ]:
list2

[1, 5, 7, 9, 3]

In [ ]:
list3

[True, False, False]

In [ ]:
list4 = ["abc", 34, True, 40, "male"] #hetrogeneous
list4

['abc', 34, True, 40, 'male']

In [ ]:
type(list4)

list

In [ ]:
list = [["apple", "banana", "cherry"] , ["mango", "pineapple", "papaya"]]
list

[['apple', 'banana', 'cherry'], ['mango', 'pineapple', 'papaya']]

In [ ]:
#A nested list is a list of lists, or any list that has another list as an element (a sublist).

 Describe how to access ,  modify and delete elements in a list with examples.

In [ ]:
# Accessing elements:
fruits = ["apple", "banana", "cherry", "mango"]
print(fruits[0])
print(fruits[-1])

apple
mango

In [ ]:
print(fruits[-5:-1])

['apple', 'banana', 'cherry']

In [ ]:
print(fruits[::-1]) #reversing the elements

['mango', 'cherry', 'banana', 'apple']

In [ ]:
#Remove Specified Item
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [ ]:
#If there are more than one item with the specified value, the remove() method removes the first occurrence:
fruits = ["apple", "banana", "cherry", "banana"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [ ]:
#Remove Specified Index
#The pop() method removes the specified index.
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)

'banana'

In [ ]:
print(fruits)

['apple', 'cherry']

In [ ]:
fruits.pop() #If you do not specify the index, the pop() method removes the last item.

'cherry'

In [ ]:
print(fruits)

['apple']

In [ ]:
#The del keyword also removes the specified index:
fruits = ["apple", "banana", "cherry"]
del fruits[0]
print(fruits)

['banana', 'cherry']

In [ ]:
del fruits #The del keyword can also delete the list completely.

In [ ]:
print(fruits) #bcz fruits are deleted

NameError: name 'fruits' is not defined

In [ ]:
#Clear the List
#The clear() method empties the list.

#The list still remains, but it has no content.

fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

COMPARE AND CONTRAST TUPLES AND LISTS WITH EXAMPLES .


**Similarities:**

Both tuples and lists are data structures used to store collections of items in Python.

They can hold heterogeneous elements, such as strings, integers, and other data types.
Both support indexing and slicing operations.

**Differences:**

Immutability: Tuples are immutable, meaning their contents cannot be changed after creation. Lists, on the other hand, are mutable, allowing elements to be added, removed, or modified.


Syntax: Tuples are defined using parentheses () and elements are separated by commas, while lists are defined using square brackets [] and elements are separated by commas.

Use cases: Tuples are suitable for situations where data is known at compile time and wonâ€™t change, such as storing constants or configuration data. Lists are better suited for dynamic data that needs to be modified or extended.

Tuple: my_tuple = (1, 2, 3, 4, 5)
- an immutable collection of integers.

List: my_list = [1, 2, 3, 4, 5]
- a mutable collection of integers.

In [ ]:
numbers = [1,2,3,4,5]
numbers[0] = 10
numbers #Example to show mutability

[10, 2, 3, 4, 5]

In [ ]:
tuple = (1,2,3,4,5)
tuple[0] = 10
tuple #Example to show immutability >> We can see here tuple can not be modified.

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers_list = [1,2,3,4,5] #Python Indexing
my_tuple = (6,7,8,9)

print(numbers_list[0])
print(my_tuple[0])

1
6

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (6, 7, 8, 9, 10)

print(my_list[1:3]) #python slicing
print(my_tuple[:3])

[2, 3]
(6, 7, 8)

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
tuple1 = (7, 8, 9)
tuple2 = (10, 11, 12)

print(list1 + list2) #concatenation
print(tuple1 + tuple2)

[1, 2, 3, 4, 5, 6]
(7, 8, 9, 10, 11, 12)

In [ ]:
#list can be appended >> mutable in nature
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
#list can be extended with another list
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.remove(2)
print(my_list)

[1, 3, 4]

In [ ]:
#these are the operations that are available for lists only >> append , remove ,del, extend , clear
tuple1 = (7, 8, 9)
tuple1.clear()
print(tuple1)

AttributeError: 'tuple' object has no attribute 'clear'

In [ ]:
tuple1 = (7, 8, 9)
del tuple1[0]
print(tuple1)

TypeError: 'tuple' object doesn't support item deletion


DESCRIBE THE KEY FEATURES OF SETS AND PROVIDE THE EXAMPLES OF THEIR USE.

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Unordered Collection: Sets are an unordered collection of unique elements. The order in which elements are added or removed does not matter.

Mutability: Sets are mutable, meaning you can add or remove elements after creating them.

Unique Elements: Sets only allow unique elements. If you try to add a duplicate element, it will be ignored.

Fast Membership Testing: Sets provide fast membership testing using the in operator, making it efficient to check if an element is present in the set.

Iterability: Sets can be used in for loops to iterate over their elements.

In [ ]:
set1 = {"shubhi" , "ashu", 21.2, 20, True,False } #hetero.

In [ ]:
set1

{20, 21.2, False, True, 'ashu', 'shubhi'}

In [ ]:
set1 = {"shubhi" , "ashu", 21.2, 20, True,False , 0 ,1 ,2 ,3}
#The values True and 1 are considered the same value in sets, and are treated as duplicates
#The values False and 0 are considered the same value in sets, and are treated as duplicates
set1

{2, 20, 21.2, 3, False, True, 'ashu', 'shubhi'}

In [ ]:
set2 = {"apple", "banana", "cherry","apple"}
set2 #Sets cannot have two items with the same value.

{'apple', 'banana', 'cherry'}

In [ ]:
type(set1)

set

In [ ]:
len(set1)

8

In [ ]:
len(set2)

3

In [ ]:
set = {1, 2, 3} #checking membership
print(3 in set)
print(4 in set)

True
False

In [ ]:
set.add(4) #adding an element
print(set)

{1, 2, 3, 4}

In [ ]:
set

{1, 2, 3, 4}

In [ ]:
set[1]=8
set

TypeError: 'set' object does not support item assignment

In [ ]:
my_fs = frozenset([1,2,3,4,5,5,5])
my_fs

frozenset({1, 2, 3, 4, 5})

In [ ]:
type(my_fs)

frozenset

In [ ]:
type(my_fs)

frozenset

In [ ]:
#set operations
s1 = {"hiking","reading","coding"}
s2= {"coding","photography","travelling"}
s1

{'coding', 'hiking', 'reading'}

In [ ]:
s2

{'coding', 'photography', 'travelling'}

In [ ]:
s1 | s2 #or >> union

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [ ]:
s1 | s2 #or >> union

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [ ]:
s1 & s2 #and >> intersection

{'coding'}

In [ ]:
s1^s2 #symmetric diff

{'hiking', 'photography', 'reading', 'travelling'}

In [ ]:
s = {(92, 3, 4), 1, 100, 2, 3, 4, 5}
s.discard(100)

In [ ]:
s

{(92, 3, 4), 1, 2, 3, 4, 5}

In [ ]:
s = {92, 3, 4, 100, 3, 4, 5}
s

{3, 4, 5, 92, 100}

In [ ]:
s.remove(3) #it removes a specific element

In [ ]:
s

{4, 5, 92, 100}

In [ ]:
s.update("ajay")
s

{100, 4, 5, 92, 'a', 'j', 'y'}

In [ ]:
s.update(["ajay"])

In [ ]:
s

{100, 4, 5, 92, 'a', 'ajay', 'j', 'y'}

In [ ]:
s.clear()

In [ ]:
s

set()

In [ ]:
del s

In [ ]:
s

NameError: name 's' is not defined

In [ ]:
s= {1,2,3,3,4,5}
s

{1, 2, 3, 4, 5}

In [ ]:
s.pop() #not compulsory to remove last element

1

In [ ]:
s.add(6)

In [ ]:
s

{2, 3, 4, 5, 6}

DISCUSS THE USE CASES OF TUPLES AND SETS IN PYTHON PROGRAMMMING .

Tuples and sets are fundamental data structures in Python, offering distinct properties and use cases. Hereâ€™s a comprehensive overview of their applications:

Tuples

Ordered collections of immutable elements
Create tuples using parentheses () and separating elements with commas, e.g., (1, 2, 3)
Access tuple elements using indexing, e.g., my_tuple[0]
Use cases:
Store and pass around immutable data, such as ordered pairs or triples
Represent structured data, like a customer order, as demonstrated in the POS system example
As a drop-in replacement for lists when immutability is requiredTuples and sets are fundamental data structures in Python, offering distinct properties and use cases. Hereâ€™s a comprehensive overview of their applications:

Sets

Unordered collections of unique elements
Create sets using curly braces {} and separating elements with commas, e.g., {1, 2, 3}
Access set elements using iteration or built-in methods:
Loop through a set using a for loop
Check if an element is in a set using the in keyword
Use cases:
Store and manipulate collections of unique elements, such as a set of unique customer IDs
Perform set operations:
Union: set1 | set2
Intersection: set1 & set2
Difference: set1 - set2
As a data structure for efficient membership testing and eliminating duplicates

tuple

---

In [ ]:
people = {"Noddy", "Shin", "Dora"}
students = {"sam", "sama"}tup1 = ('sam', 'sam2', 'sam3', 113, 116);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print(tup1[2])
print(tup2[2:5])

sam3
(3, 4, 5)

In [ ]:
tup1 = (12, 25.378);
tup2 = ('abc', 'xyz');

# create a new tuple as follows
tup3 = tup1 + tup2
print (tup3)

(12, 25.378, 'abc', 'xyz')

In [ ]:
tup = ('noddy', 'doraemon', 12, 24);
print(tup)
del tup
print("After deleting tup : ")
print(tup)

('noddy', 'doraemon', 12, 24)
After deleting tup :

NameError: name 'tup' is not defined

#sets

---

In [ ]:
people = {"Oswald", "Doraemon", "Noddy"}

print("People:", end = " ")
print(people)

People: {'Noddy', 'Doraemon', 'Oswald'}

In [ ]:
people.add("Shinchan")
print("\nSet after adding element:", end = " ")
print(people)

Set after adding element: {'Noddy', 'Doraemon', 'Shinchan', 'Oswald'}

In [ ]:
people = {"Noddy", "Shin", "Dora"}
students = {"sam", "sama"}
population = people.union(students) #union

print(population)

{'Shin', 'Dora', 'sam', 'Noddy', 'sama'}

In [ ]:
set1 = {"shin", "dora", "cat"}
set2 = {"shin", "cat", "dog", "lion"}

new_set = set1.intersection(set2)
print(new_set)

{'cat', 'shin'}

In [ ]:
set1 = {2,4,6,8,10}
set2 = {4,6,8,12,14}

# Difference of two sets >> using difference function
new_set = set1.difference(set2)

print(new_set)

{2, 10}

**there are two main issues with Python sets**:

The set doesnâ€™t maintain elements in any particular order.

Only immutable types can be added to a Python set.

---



**Advantages of Tuples**

A) Tuples have a better overall performance boost.

B) Tuples have elements that can be used as a key in a dictionary.

C) Tuples are used to store Values of different data types.

D) Tuples are used to format strings.

Basically, tuples are a sequence of objects, whereas sets are a collection of objects in any order. This means that tuples are, more or less, ordered sets.

 **Describe how to add , modify and delete items in a dictionary with examples**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.


Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
thisdict = {            #Adding Items : Adding an item to the dictionary is done by using a new index key and assigning a value to it:
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#Update Dictionary
#The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

#The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict = {   #removes
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",   #removes
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
thisdict = {
  "brand": "Ford",   #removes
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",   #removes
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
thisdict =	{
  "brand": "Ford",   #modify
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

 Discuss the importance of dictionary keys being immutable and provide examples.

Immutable dictionary keys are crucial in Python due to two primary reasons: implementation and stability.

From an implementation perspective, dictionaries are stored as hash tables. Each key is hashed to an index in the table, and its corresponding value is stored at that index. The hash function depends on the objectâ€™s value, which means that if two objects are equal but not identical (i.e., they have different memory addresses), they would produce different hash values. If dictionary keys were mutable, this could lead to unpredictable behavior, as the hash values would change over time.

Stability is the second reason for immutable dictionary keys. In a large and complex program, itâ€™s crucial to ensure that dictionary keys remain consistent throughout the execution. If keys were mutable, it would be challenging to maintain this consistency, as keys could change unexpectedly. This could lead to bugs and errors, making the code harder to debug and maintain.

In [2]:
Dict = {1: 'age', 2: 'gender', 3: 'name'}
print(Dict)

{1: 'age', 2: 'gender', 3: 'name'}

In [3]:
dict1 ={'Name':'Steve', 'Age':30, 'Designation':'Programmer'}

print("Dictionary:", dict1)
print("Length of dictionary:", len(dict1))

Dictionary: {'Name': 'Steve', 'Age': 30, 'Designation': 'Programmer'}
Length of dictionary: 3

In [4]:

ini_dict = {'nikhil': 1, 'vashu': 5,
            'manjeet': 10, 'akshat': 15}

print("initial 1st dictionary", ini_dict)

# changing keys of dictionary >> mutable
ini_dict['akash'] = ini_dict['akshat']
del ini_dict['akshat']


print("final dictionary", str(ini_dict))

initial 1st dictionary {'nikhil': 1, 'vashu': 5, 'manjeet': 10, 'akshat': 15}
final dictionary {'nikhil': 1, 'vashu': 5, 'manjeet': 10, 'akash': 15}

In [6]:

ini_dict = {'nikhil': 1, 'vashu': 5,
            'manjeet': 10, 'akshat': 15}

print("initial 1st dictionary", ini_dict)

ini_dict['akash'] = ini_dict['akshat']
 #if we do  not delete then the result will be this :

print("final dictionary", (ini_dict))

initial 1st dictionary {'nikhil': 1, 'vashu': 5, 'manjeet': 10, 'akshat': 15}
final dictionary {'nikhil': 1, 'vashu': 5, 'manjeet': 10, 'akshat': 15, 'akash': 15}

In [37]:
# WHERE DICTIONARY IS IMMUTABLE

In [38]:
#Frozen sets or frozensets: These are immutable sets, which can be used as dictionary keys. You can create a frozenset from a dictionaryâ€™s keys using frozenset(d.keys()).
#Data classes with frozen instances: You can define a data class and create frozen instances using the dataclasses.frozen decorator. These frozen instances can be used as dictionary keys.
#Tuples: Tuples are immutable, and you can use them as dictionary keys. However, tuples are not suitable for storing dynamic key-value pairs.



d = {'a': 1, 'b': 2}
frozen_keys = frozenset(d.keys())
print(frozen_keys)  # frozenset({'a', 'b'})

frozenset({'b', 'a'})

In [40]:
tuples_as_keys = {(1, 2): 'value1', (3, 4): 'value2'}
print(tuples_as_keys)  # {(1, 2): 'value1', ...}

{(1, 2): 'value1', (3, 4): 'value2'}

example 1: Hash Table Lookup


Consider a dictionary d = {'name': 'Alice', 'age': 30}. The keys 'name' and 'age' are immutable (strings), and their hash values are used to index the dictionaryâ€™s underlying hash table. If the key 'name' were mutable, its hash value could change, causing the dictionary to fail when looking up the associated value 'Alice'.

In [46]:
d = {"name" : "shubhi" , "age":21}
d

{'name': 'shubhi', 'age': 21}

In [47]:
d["name"] = "ashu"
d

{'name': 'ashu', 'age': 21}

In [52]:
d["Name"] = d["name"]
d

{'name': 'ashu', 'age': 21, 0: 'NAME', 'Name': 'ashu'}

In [53]:
#it is not changing the key >> either adding extra pair or can changing the values >> keys are immutable